<nav>
  <div class="nav-container">

    <div class="imagen">
      <img class="brand-logo" routerLink="/employee/dashboard" src="/logo.png" alt="Restaurante logo" />
    </div>

    <div class="options">
      <ul>
        <li><button routerLink="/employee/dashboard">Inicio</button></li>
        <li><button routerLink="/employee/complete-menu">Menú</button></li>
        <li><button routerLink="/employee/history">Pedidos</button></li>
        <li><button routerLink="/employee/cart">Carrito</button></li>
      </ul>
    </div>

    <div class="perfil">
      <img src="/fperfil.jpg" alt="Perfil">
    </div>

  </div>
</nav>
