<header class="navbar">
  <div class="navbar-container">

    <!-- Logo -->
    <div class="logo">
      <img class="brand-logo" routerLink="/finance/dashboard" src="/logo.png" alt="Restaurante logo" />
    </div>

    <!-- Navigation -->
    <nav class="nav-links">
      <a routerLink="/finance/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/finance/debt" routerLinkActive="active">Deudores</a>
    </nav>

    <!-- Actions -->
    <div class="actions">
      <button class="icon-btn">
        🔔
      </button>
      <img
        src="https://i.pravatar.cc/40"
        alt="User Avatar"
        class="avatar"
      />
    </div>

  </div>
</header>
