<nav>
  <div class="nav-container">

    <div class="imagen">
      <img class="brand-logo" src="/logo.png" alt="Restaurante logo" />
    </div>

    <div class="options">
      <ul>
        <li><button routerLink="/chef/dashboard">Inicio</button></li>
        <li><button routerLink="/chef/menu-management">Menú</button></li>
        <li><button routerLink="/chef/order-management">Pedidos</button></li>
        <li><button routerLink="/chef/statistics">Estadísticas</button></li>
        <li><button routerLink="/chef/">Configuración</button></li>
      </ul>
    </div>

    <div class="perfil">
      <img src="/fperfil.jpg" alt="Perfil">
    </div>

  </div>
</nav>
