<nav>
  <div class="nav-container">

    <div class="imagen">
      <img class="brand-logo" src="/logo.png" alt="Restaurante logo" />
    </div>

    <div class="options">
      <ul>
        <li><button>Inicio</button></li>
        <li><button>Menú</button></li>
        <li><button>Pedidos</button></li>
        <li><button>Estadísticas</button></li>
        <li><button>Configuración</button></li>
      </ul>
    </div>

    <div class="perfil">
      <img src="/fperfil.jpg" alt="Perfil">
    </div>

  </div>
</nav>
